body{
    background-color: #e5e5e5;
}
.overview{
    position: relative;
    background-color: #a7d7c5;
    height:600px;
    margin: 4rem auto 0rem;
    width: 800px;
}
.create-account-section{
    position: absolute;
    background-color: #f6fbf9;
    width: 400px;
    text-align: center;
    border-radius: 2rem;
    margin-top: 80px;
    margin-left: 200px;
    z-index: 2;
}
.create-account-section-intro{
    font-size:2rem;
    font-weight:700;
    padding-top: 3rem;
}
.create-account-section-note{
    width: 18rem;
    margin: 0.7rem auto 0rem;
}
.create-account-section input{
    width: 19rem;
    height: 2.7rem;
    border-color: #dfd9d9;
    margin-bottom: 2rem;
    border-style: solid;
    border-radius: 9px;
    border-width: 1px;
    padding-left: 1rem;
}
.create-account-section button{
    background-color:#84c7ae;
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
    color: white;
    font-size:1rem;
    font-weight: 600;
    border: none;
}
.create-account-section button:hover{
    background-color:#629683;
    cursor: pointer;
}
.create-account-section-sign_in{
    margin-top: 1rem;
    color: rgb(121, 113, 113);
    padding-bottom: 3rem;
}
.create-account-section-sign_in a{
    color: rgb(121, 113, 113);
}
.rectangle1{
    position: absolute;
    background-color:#e5e5e55b;
    z-index: 1;
    height:300px;
    width:300px;
    border-radius: 2rem;
    transform: rotate(45deg);
    top: -80px;
    left:-100px
}
.rectangle2{
    position: absolute;
    background-color:#e5e5e55b;
    z-index: 1;
    height:300px;
    width:300px;
    border-radius: 2rem;
    transform: rotate(45deg);
    margin-top: 420px;
    margin-left: 500px;
}
